body{
    margin:0;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:flex-start;
    padding: 60px 0;
    overflow-y:auto;

    background:linear-gradient(to bottom,#05030f,#120b2d,#24144d);
    color:white;
    font-family:georgia,serif;
    
}

.container{
    text-align:center;
}

h1{
    font-size:55px;
}

p{
    font-size:22px;
    color:#d9d3ff;
}

button{
    margin-top:25px;
    padding:18px 45px;
    border:none;
    border-radius:50px;
    background:#ffd369;
    font-size:20px;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    transform:scale(1.08);
}
/* ===== Animated Stars ===== */

body{
    overflow-y:auto;
}

body::before{

    content:"";

    position:fixed;

    inset:0;

    background-image:
    radial-gradient(white 1px, transparent 1px);

    background-size:45px 45px;

    opacity:.35;

    animation:starsMove 45s linear infinite;

    pointer-events:none;

}

@keyframes starsMove{

    from{

        transform:translateY(0);

    }

    to{

        transform:translateY(-250px);

    }

}
body::after{
    content:"";

    position:fixed;

    width:320px;
    height:320px;

    border-radius:50%;

    background:rgba(255,230,140,.15);

    box-shadow:
        0 0 80px rgba(255,220,120,.25),
        0 0 180px rgba(255,220,120,.15);

    top:60px;
    right:80px;

    z-index:-1;

    animation:moonGlow 4s ease-in-out infinite;
}

@keyframes moonGlow{

    0%,100%{
        transform:scale(1);
        opacity:.8;
    }

    50%{
        transform:scale(1.08);
        opacity:1;
    }

}
.envelope{

font-size:110px;

cursor:pointer;

transition:.4s;

display:inline-block;

animation:float 2.5s ease-in-out infinite;

}

.envelope:hover{

transform:scale(1.15) rotate(-6deg);

filter:drop-shadow(0 0 25px gold);

}

@keyframes float{

0%,100%{

transform:translateY(0);

}

50%{

transform:translateY(-12px);

}

}